body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

/* Outros estilos aqui... */

.menu-container {
    background-color: #333;
    color: rgb(68, 173, 86);
    padding: 10px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Certifique-se de que o z-index seja maior do que o z-index do conteúdo da página */
}

.menu-header {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-icon {
    font-size: 20px;
    margin-right: 10px;
}

#main-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1001;
    width: 100%;
    background-color: aqua;
    opacity: 1; /* Mude para 1 inicialmente para garantir que não seja transparente */
    overflow: hidden;
    max-height: 0; /* Altere para max-height 0 para ocultar o conteúdo */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Adicione transição suave */
}

#main-menu a {
    color: rgb(121, 99, 99);
    text-decoration: none;
    display: block;
    padding: 10px;
    
}

#main-menu a:hover {
    background-color: #be1717;
}

.menu-opened #main-menu {
    background-color: rgb(34, 119, 194);
    opacity: 1;
    max-height: 500px; /* Defina um valor máximo suficientemente grande para a altura do conteúdo (ajuste conforme necessário) */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Adicione transição suave */
}

/* Adicione este estilo para o menu aberto */
.menu-opened #menu-icon {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.menu-closed #menu-icon {
    transform: rotate(0deg);
    transition: transform 0.3s;
}