<!-- templates/alterar_perfil.html -->

{% extends 'layout_base.html' %}

{% block page_title %}Meu perfil{% endblock %}

{% block content %}

<style>
    form {
        max-width: 400px; /* Ajuste a largura conforme necessário */
        margin: 0 auto; /* Centraliza o formulário */
    }

    label {
        display: block; /* Coloca cada rótulo e entrada em uma linha separada */
        margin-bottom: 5px; /* Espaçamento inferior entre os rótulos e as entradas */
    }

    input {
        width: 100%; /* Preenche a largura do contêiner pai */
        box-sizing: border-box; /* Inclui padding e borda no cálculo de largura */
        margin-bottom: 10px; /* Espaçamento inferior entre as entradas */
    }

    .error-message {
        color: red;
        margin-top: 5px; /* Espaçamento superior entre a mensagem de erro e a entrada */
    }

    button {
        width: 100%; /* Preenche a largura do contêiner pai */
        box-sizing: border-box; /* Inclui padding e borda no cálculo de largura */
    }
</style>

    <h2>Alterar Perfil da {{ usuario.casa }}</h2>

    <!-- Adicione os campos necessários para a alteração do perfil -->
    <form method="post" action="{{ url_for('atualizar_perfil') }}">
        <div>
            <label for="novo_nome1">Nome 1:</label>
            <input type="text" id="novo_nome1" name="novo_nome1" value="{{ usuario.nome1 }}">
            <div id="erro_novo_contato1" class="error-message"></div>
        </div>

        <div>
            <label for="novo_contato1">Whatsapp 1:</label>
            <input type="tel" id="novo_contato1" name="novo_contato1" value="{{ usuario.contato1 }}" oninput="formatarNumeroContato(this)">
            <div id="erro_novo_contato1" class="error-message"></div>
        </div>

        <div>
            <label for="novo_instagram1">Instagram 1:</label>
            <input type="text" id="novo_instagram1" name="novo_instagram1" value="{{ usuario.instagram1 }}">
            <div id="erro_novo_instagram1" class="error-message"></div>
        </div>

        <div>
            <label for="novo_nome2">Nome 2:</label>
            <input type="text" id="novo_nome2" name="novo_nome2" value="{{ usuario.nome2 }}">
            <div id="erro_novo_contato2" class="error-message"></div>
        </div>

        <div>
            <label for="novo_contato2">Whatsapp 2:</label>
            <input type="tel" id="novo_contato2" name="novo_contato2" value="{{ usuario.contato2 }}" oninput="formatarNumeroContato(this)">
            <div id="erro_novo_contato2" class="error-message"></div>
        </div>

        <div>
            <label for="novo_instagram2">Instagram 2:</label>
            <input type="text" id="novo_instagram2" name="novo_instagram2" value="{{ usuario.instagram2 }}">
            <div id="erro_novo_instagram2" class="error-message"></div>
        </div>

        <div>
            <label for="novo_nome3">Nome 3:</label>
            <input type="text" id="novo_nome3" name="novo_nome3" value="{{ usuario.nome3 }}">
            <div id="erro_novo_contato3" class="error-message"></div>
        </div>

        <div>
            <label for="novo_contato3">Whatsapp 3:</label>
            <input type="tel" id="novo_contato3" name="novo_contato3" value="{{ usuario.contato3 }}" oninput="formatarNumeroContato(this)">
            <div id="erro_novo_contato3" class="error-message"></div>
        </div>

        <div>
            <label for="novo_instagram3">Instagram 3:</label>
            <input type="text" id="novo_instagram3" name="novo_instagram3" value="{{ usuario.instagram3 }}">
            <div id="erro_novo_instagram3" class="error-message"></div>
        </div>
        
        <button type="submit">Salvar Alterações</button>
    </form>

    <script>
        function formatarNumeroContato(input) {
            const numeroLimpo = input.value.replace(/\D/g, '');
            const numeroFormatado = formatarComoTelefone(numeroLimpo);
            input.value = numeroFormatado;

            const erroElemento = document.getElementById('erro_' + input.id);
            if (numeroLimpo.length !== 11) {
                erroElemento.textContent = 'O número de contato deve ter 11 dígitos.';
            } else {
                erroElemento.textContent = '';
            }
        }

        function formatarComoTelefone(numero) {
            return numero.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
        }
    </script>


{% endblock %}
