<!-- templates/alterar_perfil.html -->

{% extends 'layout_base.html' %}

{% block page_title %}Meu perfil{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }

    .container {
        max-width: 400px; /* Ajuste a largura conforme necessário */
        margin: 0 auto; /* Centraliza o formulário */
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px; /* Espaçamento superior */
    }

    form {
        margin-top: 20px; /* Espaçamento superior */
    }

    label {
        display: block; /* Coloca cada rótulo e entrada em uma linha separada */
        margin-bottom: 5px; /* Espaçamento inferior entre os rótulos e as entradas */
        font-weight: bold;
    }

    input {
        width: 100%; /* Preenche a largura do contêiner pai */
        box-sizing: border-box; /* Inclui padding e borda no cálculo de largura */
        margin-bottom: 10px; /* Espaçamento inferior entre as entradas */
        padding: 8px; /* Adiciona um preenchimento uniforme */
    }

    .error-message {
        color: red;
        margin-top: 5px; /* Espaçamento superior entre a mensagem de erro e a entrada */
    }

    button {
        width: 100%; /* Preenche a largura do contêiner pai */
        box-sizing: border-box; /* Inclui padding e borda no cálculo de largura */
        padding: 10px; /* Adiciona um preenchimento uniforme */
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    h2 {
        text-align: center;
        margin-top: 0px;
    }
</style>

<!-- Adicione os campos necessários para a alteração do perfil -->
<form method="post" action="{{ url_for('atualizar_perfil') }}" class="container">
    <h2>Alterar Perfil da {{ usuario.casa }}</h2>

    {% for perfil in usuario.perfis %}
        <div>
            <label for="novo_nome{{ loop.index }}">Nome {{ loop.index }}:</label>
            <input type="text" id="novo_nome{{ loop.index }}" name="novo_nome{{ loop.index }}" value="{{ perfil.nome }}">
            <div id="erro_novo_nome{{ loop.index }}" class="error-message"></div>
        </div>

        <div>
            <label for="novo_contato{{ loop.index }}">Whatsapp {{ loop.index }}:</label>
            <input type="tel" id="novo_contato{{ loop.index }}" name="novo_contato{{ loop.index }}" value="{{ perfil.contato }}" oninput="formatarNumeroContato(this)">
            <div id="erro_novo_contato{{ loop.index }}" class="error-message"></div>
        </div>

        <div>
            <label for="novo_instagram{{ loop.index }}">Instagram {{ loop.index }}:</label>
            <input type="text" id="novo_instagram{{ loop.index }}" name="novo_instagram{{ loop.index }}" value="{{ perfil.instagram }}">
            <div id="erro_novo_instagram{{ loop.index }}" class="error-message"></div>
        </div>
    {% endfor %}
    
    <button type="submit">Salvar Alterações</button>
</form>

<script>
    function formatarNumeroContato(input) {
        // Remover caracteres não numéricos
        const numeroLimpo = input.value.replace(/\D/g, '');

        // Determinar o formato com base no comprimento
        let formato = '';
        if (numeroLimpo.length === 10) {
            formato = '($1)$2-$3';
        } else if (numeroLimpo.length === 11) {
            formato = '($1)$2-$3$4';
        }

        // Aplicar a formatação
        const numeroFormatado = numeroLimpo.replace(/^(\d{2})(\d{4,5})(\d{4})(\d{0,4})$/, formato);

        // Atualizar o valor do input
        input.value = numeroFormatado;
    }
</script>

{% endblock %}
