{% extends 'layout_base.html' %}

{% block page_title %}Notícias{% endblock %}

{% block content %}
    <h2>Notícias</h2>
    {% for noticia in noticias %}
        <!-- Conteúdo compacto da notícia -->
        <div>
            <h3>{{ noticia['titulo'] }}</h3>
            <p>Autor: {{ noticia['autor'] }} - Data: {{ noticia['data'] }}</p>
            <button class="expandir" data-noticia="{{ loop.index }}">Expandir</button>
        </div>

        <!-- Conteúdo expandido (inicialmente oculto) -->
        <div id="conteudo-noticia-{{ loop.index }}" class="conteudo-noticia" style="display: none;">
            <p>Conteúdo: {{ noticia['conteudo'] }}</p>
            <p>Nome de Usuário: {{ noticia['nome_usuario'] }}</p>
            <p>WhatsApp: {{ noticia['whatsapp'] }}</p>
            <p>Instagram: {{ noticia['instagram'] }}</p>

            {% if noticia['imagens'] %}
                <p>Imagens:</p>
                <ul>
                    {% for imagem in noticia['imagens'] %}
                        <li><img src="{{ url_for('servir_imagem', identificador_noticia=noticia['identificador'], imagem=imagem) }}" alt="Imagem">
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <hr>
        </div>
    {% endfor %}

    <!-- Botão para criar nova notícia (link para a rota postar_noticia) -->
    <a href="{{ url_for('postar_noticia') }}" class="btn btn-primary">Criar Nova Notícia</a>

    <script>
        // Adiciona um listener para cada botão de expansão
        document.querySelectorAll('.expandir').forEach(function(botao) {
            botao.addEventListener('click', function() {
                // Obtém o número da notícia associado ao botão
                var numeroNoticia = this.getAttribute('data-noticia');
                // Obtém o conteúdo expandido da notícia correspondente
                var conteudoNoticia = document.getElementById('conteudo-noticia-' + numeroNoticia);
    
                // Alterna entre exibir e ocultar o conteúdo expandido
                conteudoNoticia.style.display = (conteudoNoticia.style.display === 'none' || conteudoNoticia.style.display === '') ? 'block' : 'none';
    
                // Altera o texto do botão com base no estado atual
                this.innerHTML = (conteudoNoticia.style.display === 'none') ? 'Expandir' : 'Ocultar';
            });
        });
    </script>
    
{% endblock %}
