<!-- templates/postar_noticia.html -->

{% extends 'layout_base.html' %}

{% block page_title %}Postar Notícia{% endblock %}

{% block content %}
    <h2>Postar Notícia</h2>
    <form method="POST" action="{{ url_for('postar_noticia') }}">
        <!-- Título da notícia -->
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
        <br>

        <!-- Conteúdo da notícia -->
        <label for="conteudo">Conteúdo:</label>
        <textarea id="conteudo" name="conteudo" required></textarea>
        <br>

        <!-- Escolha do Nome de Usuário, WhatsApp e Instagram -->
        <label for="nome_usuario">Nome de Usuário:</label>
        <input type="text" id="nome_usuario" name="nome_usuario" required>
        <br>

        <label for="whatsapp">WhatsApp:</label>
        <input type="text" id="whatsapp" name="whatsapp" required>
        <br>

        <label for="instagram">Instagram:</label>
        <input type="text" id="instagram" name="instagram" required>
        <br>

        <!-- Botão de envio -->
        <button type="submit">Postar</button>
    </form>
{% endblock %}
