<!-- templates/postar_noticia.html -->

{% extends 'layout_base.html' %}

{% block page_title %}Postar Notícia{% endblock %}

{% block content %}
    <h2>Postar Notícia</h2>
    <form method="POST" action="{{ url_for('postar_noticia') }}" enctype="multipart/form-data">
        <!-- Título da notícia -->
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
        <br>

        <!-- Conteúdo da notícia -->
        <label for="conteudo">Conteúdo:</label>
        <textarea id="conteudo" name="conteudo" required></textarea>
        <br>

        <!-- Escolha do perfil -->
        <label for="perfil">Escolha o perfil:</label>
        <select id="perfil" name="perfil" required>
            {% for i in range(1, total_perfis + 1) %}
                <option value="{{ i }}">Perfil {{ i }}</option>
            {% endfor %}
        </select>
        <br>

        <!-- Upload de imagens -->
        <label for="imagens">Imagens (até 10):</label>
        <input type="file" name="files[]" accept=".jpg, .jpeg, .png" multiple>
        <br>

        <!-- Botão de envio -->
        <button type="submit">Postar</button>
    </form>
{% endblock %}
